@model Assignment3_integration.Models.Contact

@{
    ViewData["Title"] = " Email Confirmation ";
}
<h1>Email Confirmation</h1>
<h2>Thank you for contacting us @Model.FirstName @Model.LastName </h2>
<p>A copy has been sent to @Model.Email</p>
