@model IEnumerable<BikeShop.Models.BikeListModel>

@{
    ViewData["Title"] = "Road Bikes";
}

<h1>Road Bike Model List</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img style="width:250px" src="~/Road Bikes/Models/@item.ProductModel .png" alt="@Html.DisplayFor(modelItem => item.ProductModel)" /></td>
                <td>
                    <div>
                        @Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })
                        <p>@item.Description </p>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>