@{
}

<h1>Costco Cashback Calculator</h1>

<form method="get">
    <div>
        Amount: <input type="text" name="amount" value="@ViewData["amount"]" />
        <button>Submit Query</button>
    </div>
</form>

<p>Your cashBack is @ViewData["cashBackAmount"]</p>

