@model IEnumerable<BikeShop.Models.BikeListModel>
@{
    ViewData["Title"] = "Mountain";
}

<h1>Mountain Model List</h1>

@foreach (var item in Model)
 {
    <div>
        @Html.ActionLink(item.ProductModel,"Details", new {id = item.ProductModelID })

        <p>@item.Description</p>
    </div>
 }

<div>
    <center>
        <img src="~/images/1.png" alt="Alternate Text" width="400" height="400" />
    </center>
</div>
